<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The Good Loom</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/js/aos/aos.css" rel="stylesheet">
  <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/js/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/js/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/js/remixicon/remixicon.css" rel="stylesheet">
  <link href="/js/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/images/tgl-logo-new.png" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Today's Deals</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/registration">Signup</a></li>
           <li><a class="getstarted scrollto" href="/login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome to The Good Loom!!</h1>
         
          <h2 data-aos="fade-up" data-aos-delay="400"> we connect artisans,weaver co-operatives and clusters directly with consumers across the world.</h2>
          <h2 data-aos="fade-up" data-aos-delay="400">we enable sustainable livelihoods for artisans by ensuring fair prices to them, and authentic handlooms and crafts to you.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/images/header.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>Our global platform brings together handloom, handicraft artisans and cooperatives from over 55 clusters, delivering authentic handmade products, ensuring fair prices for both buyer and seller. </h2>
              <p>
                our dream is to create and support sustainable livelihoods for India's 10 million weaver and artisan community, while promoting handmade, natural and sustainable products to consumers globally. crafting the change we want to see in the world, together.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="/images/aboutus.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

   
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Products</h2>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="/images/services.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Sarees</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Accessories</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Fabrics</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Home Accessories</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Gifts</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Bedding and Bath</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

        
       

      </div>



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Hot Sales</h2>
          <p>Latest Deals!</p>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Women</li>
              <li data-filter=".filter-card">Men</li>
              <li data-filter=".filter-web">Accessories</li>
            </ul>
          </div>
        </div>

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/images/sale101.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Black multicolor striped handwoven bengal cotton begumpuri saree</h4>
                <p> Sale price Rs. 1,440.00 Save 20%</p>
                <div class="portfolio-links">
                  <a href="/images/sale101.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="

Regular price Rs. 1,799.00 Sale price Rs. 1,440.00 Save 20%"><i class="bi bi-plus"></i></a>
                
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/images/Accessory1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Beige Sitalpati and Kantha stitch fabric Potli</h4>
                <p>Sale price Rs. 1,161.00 Save 10%</p>
                <div class="portfolio-links">
                  <a href="/images/	Accessory1.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 1,290.00 Sale price Rs. 1,161.00 Save 10%"><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/images/sale3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Orange hand embroidered cotton top</h4>
                <p>Sale price Rs.1,485.00 Save 10%</p>
                <div class="portfolio-links">
                  <a href="/images/sale3.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 1,650.00 Sale price Rs. 1,485.00 Save 10%"><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/images/sale4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Brown striped mandarin collared short sleeve shirt</h4>
                <p> Sale price Rs. 850.00 Save 50%</p>
                <div class="portfolio-links">
                  <a href="/images/sale4.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 1,700.00 Sale price Rs. 850.00 Save 50%"><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/images/Accessory2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Wood pendant handcrafted necklace</h4>
                <p> Sale price Rs. 1,422.00 Save 10%</p>
                <div class="portfolio-links">
                  <a href="/images/Accessory2.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 1,580.00 Sale price Rs. 1,422.00 Save 10%"><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/images/sale102.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mustard golden handwoven bengal matka silk saree</h4>
                <p> Sale price Rs. 10,400.00 Save 20%</p>
                <div class="portfolio-links">
                  <a href="/images/sale102.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 12,999.00 Sale price Rs. 10,400.00 Save 20%"><i class="bi bi-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/images/sale5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Midnight blue striped mandarin collared shirt</h4>
                <p> Sale price Rs. 850.00 Save 50%</p>
                <div class="portfolio-links">
                  <a href="/images/sale5.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 1,700.00 Sale price Rs. 850.00 Save 50%"><i class="bi bi-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/images/sale11.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Grey handloom handspun cotton blazer</h4>
                <p> Sale price Rs. 1,500.00 Save 50%</p>
                <div class="portfolio-links">
                  <a href="/images/sale11.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 3,000.00 Sale price Rs. 1,500.00 Save 50%"><i class="bi bi-plus"></i></a>
                
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/images/Accessory3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Red white handwoven pochampally ikat cotton stole</h4>
                <p> Sale price Rs. 585.00 Save 10%</p>
                <div class="portfolio-links">
                  <a href="/images/Accessory3.jpg" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Regular price Rs. 650.00 Sale price Rs. 585.00 Save 10%"><i class="bi bi-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Portfolio Section -->

   

    
    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>B 603, Monte-Carlo ACE Apartments<br>Next to TCS, Kothaguda X Roads,<br>Kondapur, Hyderabad Telangana - 500084</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 9765334901<br>+91 7888443214</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>GoSwadesi@gmail.com<br>goodloom@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>TheGoodLoom</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/js/purecounter/purecounter.js"></script>
  <script src="/js/aos/aos.js"></script>
  <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/glightbox/js/glightbox.min.js"></script>
  <script src="/js/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/js/swiper/swiper-bundle.min.js"></script>
  <script src="/js/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>